/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

body{
    font-family: helvetica;
}

article{
    padding-left: 5vw;
}

a{
    font-size: rem-calc(14);
    font-weight: bold;
    color: rgba(0,0,0,.4);
    transition: 0.25s;
    &:hover{
        color: $black;
    }
}


.textbox {
    position: absolute;
    z-index: 10000;
    top: 10vh;
    left: 10vw;
    background-color: rgba(0,0,0,.3);
    color: $white;
    width: 30vw;
    border-radius: 30px;

    h1 {
        padding: 40px;
        line-height: rem-calc(42);
    }
}


#element1{
    position: fixed;
    top: 30px;
    left:5vw;
    color:white;
}


// adjustments to FullPage css
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: $white !important;
}

#fp-nav ul, .fp-slidesNav ul {
        margin-left: 5vw !important;
}
